.auth_page {
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  flex: auto;
  background-color: #18212d;
}
.auth_page::-webkit-scrollbar {
  display: none;
}
.form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.form-container::-webkit-scrollbar {
  display: none;
}
.form.register,
.form.signin {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #ffff;
  margin: auto;
  z-index: 1;
  height: 80vh;
  width: 50%;
  transition: left 1.5s 0.2s, opacity 0s 0.3s;
  box-shadow: none;
  background-color: #18212d;
}
.form.signin img {
  position: absolute;
  bottom: 6rem;
  right: 2rem;
}
.form.register::-webkit-scrollbar,
.form.signin::-webkit-scrollbar {
  display: none;
}
.form.register h2,
.form.signin h2 {
  color: #ffff;
  background-color: #379ce5;
  display: block;
  font-size: 35px;
  font-weight: 400;
  width: 12rem;
  height: fit-content;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  text-decoration: none;
}

.form-container.register .form div input,
.form-container.signin .form div input {
  outline: none;
  height: 3rem;
  width: 15rem;
  margin: 0 auto 17px auto;
  background-color: #ffff;
  padding: 0 0.5rem;
}
.form-container.register .form div select,
.form-container.signin .form div select {
  outline: none;
  height: 3rem;
  width: 15rem;
  margin: 0 auto 17px auto;
  background-color: #ffff;
  padding: 0 0.5rem;
}
.form-container.register .form.signin {
  opacity: 0;
  z-index: 0;
}
.form-container.signin .form.register {
  opacity: 0;
  z-index: 0;
}
.validate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}
.validate-btn button {
  background-color: #379ce5;
  width: 12rem;
}
.message-container {
  height: 4rem;
}

@media (max-width: 570px) {
  .form-container.register {
    overflow-y: scroll;
  }
  .form-container.signin::before {
    top: inherit;
    transform: translate(-50%, 100%);
    bottom: 25%;
    left: 50%;
  }
  .form-container.register .form,
  .form-container.signin .form {
    height: auto;
    width: 100%;
    transition: top 1.5s 0.1s, opacity 0s 0.3s;
  }
  .form-container.register .form {
    top: 35vh;
    left: 0;
  }
  .form-container.signin .form {
    top: 15vh;
    left: 0;
  }
  .btn-signin {
    top: 20%;
    right: inherit;
    margin: auto;
    transition: 1s;
  }
  .form-container.register .btn-signin {
    right: inherit;
    top: 2%;
  }
  .form-container.signin .btn-signin {
    right: inherit;
    top: -20%;
  }
  .btn-register {
    bottom: 20%;
    top: inherit;
    left: inherit;
    margin: auto;
    transition: 1s;
  }
  .form-container.register .btn-register {
    left: inherit;
    bottom: -20%;
    display: none;
  }
  .form-container.signin .btn-register {
    left: inherit;
    bottom: 5%;
  }
}
